@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row vh-100">
    <div class="col-sm-12 col-md-12">
        <h4 class="display-6">
            Home
        </h4>
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p class="mb-0">
                    Find by name : <input class="border border-primary rounded" type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                    <button type="submit" class="btn btn-primary btn-sm mb-0">Search</button>
                    <a asp-action="Index"> Back to full list</a>
                </p>
            </div>
        </form>
        <hr />
        <div class="d-flex">
            
        @foreach (var item in Model.CategoryDetailLists)
        {
            <div class="card border border-primary rounded" style="width: 18rem;">
                <img class="card-img-top" src="~/uploads/images/@item.icon" alt="">
                <div class="card-body">
                    <h5 class="card-title">@item.name</h5>
                    <p class="card-text">@item.description</p>
                        <a href="@Url.Action("CategoryDetail","Home", new { id = @item.id })" class="btn btn-primary">Details</a>
                </div>
            </div>
        }
        
        </div>
    </div>
</div>
